/* This is a webfonts.css file created on 2023-03-18 as a fallback, it should be generated through build/fetchfonts.js on deploy */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-sans-arabic-v18-arabic-700.woff2') format('woff2'), 
       url('fonts/noto-sans-arabic-v18-arabic-700.woff') format('woff'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-sans-tc-v26-latin-700.woff2') format('woff2'),
       url('fonts/noto-sans-tc-v26-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-sans-jp-v42-latin-700.woff2') format('woff2'), 
       url('fonts/noto-sans-jp-v42-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-sans-v27-latin-700.woff2') format('woff2'),
       url('fonts/noto-sans-v27-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-sans-kr-v27-latin-700.woff2') format('woff2'),
       url('fonts/noto-sans-kr-v27-latin-700.woff') format('woff');

}
